body {
  margin: 0;
  overflow: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a, ul {
  color: #e5e7eb;
  list-style: none;
  text-decoration: none;
}

p {
    color: #e5e7eb;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
}

button {
  width: 100px;
  height: 30px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: #3882f6;
  border: solid;
  border-color:  #3882f6;
  border-radius: 5px;
  
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*  Nav bar  */
.header {
  color: white;
  background: #1f2937;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.nav {
  gap: 18px;
  display: flex;
  padding-right: 100px;
  font-size: 18px;
}

/*  Hero-under header content  */
.hero {
  background: #1f2937;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.hero-text {
  width: 400px;
  padding-right: 50px;
}

.hero-image{
  width: 700px;
  height: 300px;
  background-color: #3882f6;
  margin-bottom: 100px;
}

/*  4 Boxes Middle Section  */
h2 {
  font-size: 36px;
  font-weight:bolder;
  color: #1f2937;
  text-align: center;
}

.middle-content {
  margin-top: 50px;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.info img{
  border: 5px;
  border-radius: 25px;
  border-style: solid;
  width: 200px;
  height: 200px;
  border-color: #3882f6;
}
.info p {
  color: #1f2937;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

/*  Quote Section  */
.quote {
  background-color: #e5e7eb;
  margin: 100px 0;
  padding: 128px 192px 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote h3 {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.quote p {
  color: #1f2937;
  font-size: 20px;
  font-weight:bold;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.sign-up-content{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 5px;
  border-radius: 12px;
  border-style: solid;
  background-color:#3882f6;
  border-color: #3882f6;
  padding: 28px 40px;
  width: 1100px;
}

.sign-up-text h4 {
  font-size: 20px;
  color: white;
  margin-bottom: -10px;
}
.sign-up-text p {
  color: white;
}

.sign-up-button{
  border: 2px;
  border-radius: 5px;
  border-style: solid;
  margin-left: 280px;
  margin-top: 30px;
}

.footer {
  color: white;
  height: 72px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}